html {
    font-family: "Montserrat Regular"!important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],template {
    display: none
}

a:active,a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,optgroup,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px
}

legend {
    border: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.column,.columns {
    width: 100%;
    float: left;
    box-sizing: border-box
}

@media (min-width: 400px) {
    .container {
        width:85%;
        padding: 0
    }
}

@media (min-width: 810px) {
    .container {
        width:80%
    }

    .column,.columns {
        margin-left: 4%
    }

    .column:first-child,.columns:first-child {
        margin-left: 0
    }

    .one.column,.one.columns {
        width: 4.6666666667%
    }

    .two.columns {
        width: 13.3333333333%
    }

    .three.columns {
        width: 22%
    }

    .four.columns {
        width: 30.6666666667%
    }

    .five.columns {
        width: 39.3333333333%
    }

    .six.columns {
        width: 48%
    }

    .seven.columns {
        width: 56.6666666667%
    }

    .eight.columns {
        width: 65.3333333333%
    }

    .nine.columns {
        width: 74%
    }

    .ten.columns {
        width: 82.6666666667%
    }

    .eleven.columns {
        width: 91.3333333333%
    }

    .twelve.columns {
        width: 100%;
        margin-left: 0
    }

    .one-third.column {
        width: 30.6666666667%
    }

    .two-thirds.column {
        width: 65.3333333333%
    }

    .one-half.column {
        width: 48%
    }

    .offset-by-one.column,.offset-by-one.columns {
        margin-left: 8.6666666667%
    }

    .offset-by-two.column,.offset-by-two.columns {
        margin-left: 17.3333333333%
    }

    .offset-by-three.column,.offset-by-three.columns {
        margin-left: 26%
    }

    .offset-by-four.column,.offset-by-four.columns {
        margin-left: 34.6666666667%
    }

    .offset-by-five.column,.offset-by-five.columns {
        margin-left: 43.3333333333%
    }

    .offset-by-six.column,.offset-by-six.columns {
        margin-left: 52%
    }

    .offset-by-seven.column,.offset-by-seven.columns {
        margin-left: 60.6666666667%
    }

    .offset-by-eight.column,.offset-by-eight.columns {
        margin-left: 69.3333333333%
    }

    .offset-by-nine.column,.offset-by-nine.columns {
        margin-left: 78%
    }

    .offset-by-ten.column,.offset-by-ten.columns {
        margin-left: 86.6666666667%
    }

    .offset-by-eleven.column,.offset-by-eleven.columns {
        margin-left: 95.3333333333%
    }

    .offset-by-one-third.column,.offset-by-one-third.columns {
        margin-left: 34.6666666667%
    }

    .offset-by-two-thirds.column,.offset-by-two-thirds.columns {
        margin-left: 69.3333333333%
    }

    .offset-by-one-half.column,.offset-by-one-half.columns {
        margin-left: 52%
    }
}

html {
    font-size: 62.5%
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 2rem
}

h1,h2,h3 {
    letter-spacing: -.1rem
}

h4 {
    letter-spacing: -.08rem
}

h5 {
    letter-spacing: -.05rem
}

h6 {
    font-size: 1.5rem;
    letter-spacing: 0
}

@media (min-width: 550px) {
    h1 {
        font-size:5rem
    }

    h2 {
        font-size: 4.2rem
    }

    h3 {
        font-size: 3.6rem
    }

    h4 {
        font-size: 3rem
    }

    h5 {
        font-size: 2.4rem
    }

    h6 {
        font-size: 1.5rem
    }
}

p {
    margin-top: 0
}

a:hover {
    color: #0fa0ce
}

.button,button,input[type=button],input[type=reset],input[type=submit] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box
}

.button:focus,.button:hover,button:focus,button:hover,input[type=button]:focus,input[type=button]:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:focus,input[type=submit]:hover {
    color: #333;
    border-color: #888;
    outline: 0
}

.button.button-primary,button.button-primary,input[type=button].button-primary,input[type=reset].button-primary,input[type=submit].button-primary {
    color: #fff;
    background-color: #33c3f0;
    border-color: #33c3f0
}

.button.button-primary:focus,.button.button-primary:hover,button.button-primary:focus,button.button-primary:hover,input[type=button].button-primary:focus,input[type=button].button-primary:hover,input[type=reset].button-primary:focus,input[type=reset].button-primary:hover,input[type=submit].button-primary:focus,input[type=submit].button-primary:hover {
    color: #fff;
    background-color: #1eaedb;
    border-color: #1eaedb
}

input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 2px solid #dededf;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box
}

input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

textarea {
    overflow: auto;
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px
}

input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus {
    border: 1px solid #33c3f0;
    outline: 0
}

label,legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
    margin-top: .5rem
}

fieldset {
    padding: 0;
    border-width: 0
}

input[type=checkbox],input[type=radio] {
    display: inline
}

label>.label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: 400
}

ul {
    list-style: circle inside
}

ol {
    list-style: decimal inside
}

ol,ul {
    padding-left: 0;
    margin-top: 0
}

ol ol,ol ul,ul ol,ul ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%
}

.button,button,li {
    margin-bottom: 1rem
}

dd {
    margin-left: 0
}

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 4px
}

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre
}

td,th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1
}

td:first-child,th:first-child {
    padding-left: 0
}

td:last-child,th:last-child {
    padding-right: 0
}

blockquote,dl,figure,form,ol,p,pre,table,ul {
    margin-bottom: 2.5rem
}

.u-full-width {
    width: 100%;
    box-sizing: border-box
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box
}

.u-pull-right {
    float: right
}

.u-pull-left {
    float: left
}

.container:after,.row:after,.u-cf {
    content: "";
    display: table;
    clear: both
}

.ta-results {
    background: #fff;
    height: 400px;
    border: 1px solid #f2f5f7
}

.ta-results button {
    border: 0;
    width: 100%;
    text-align: left
}

.ta-results button:hover {
    background: #f2f5f7
}

.container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box
}

body {
    font-family: "Montserrat Regular"!important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat Regular"!important;
    font-weight: 700;
    color: #3f3f3f;
    line-height: 1.6
}

h1 {
    line-height: 1.4;
    background: #814a9c;
    color: #fff!important;
    font-size: 3.3rem!important;
    font-family: "Montserrat Regular"!important;
    padding: 20px;
    letter-spacing: 0!important;
    margin: 0!important
}

h2 {
    font-weight: 400
}

h4 {
    line-height: 20px!important;
    margin-top: 37px!important
}

h4:nth-child(1) {
    font-weight: 100!important;
    margin-top: 0!important
}

.paragraph,p {
    line-height: 1.7;
    margin-bottom: 10px
}

small {
    font-size: 1.3rem;
    font-family: "Montserrat Regular"!important;
    font-weight: 100!important;
    padding: 0!important;
    margin: 0!important
}

hr {
    border-width: 0;
    border-top: 1px solid #e1e1e1;
    margin-top: 1rem;
    margin-bottom: 1.5rem
}

label {
    font-weight: 700;
    color: #000;
    display: block;
    font-size: 1.2rem!important;
    font-family: "Montserrat Regular"!important;
}

.form-required {
    color: #ff2825!important
}

input,select {
    color: #6b6b6b;
    font-size: 14px;
    font-weight: 400
}

input[type=email],input[type=number],input[type=text],select {
    width: 100%;
}

input[type=email]:focus,input[type=text]:focus,select:focus,textarea:focus {
    border: 2px solid #025fcc
}

input[type=email]:disabled,input[type=text]:disabled {
    opacity: .5
}

em {
    font-size: 15px
}

a {
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: #f15a29!important
}

.buttons {
    text-align: center
}

input[type=email]::-webkit-input-placeholder,input[type=text]::-webkit-input-placeholder {
    color: #d1d1d1
}

input[type=email]::-moz-placeholder,input[type=text]::-moz-placeholder {
    color: #d1d1d1
}

input[type=email]::-ms-input-placeholder,input[type=text]::-ms-input-placeholder {
    color: #d1d1d1
}

input[type=email]::placeholder,input[type=text]::placeholder {
    color: #d1d1d1
}

select,textarea {
    width: 100%
}

fieldset,input,select,textarea {
    margin-bottom: .5rem
}

input.is-invalid,select.is-invalid {
    border: 1px solid red
}

.invalid-feedback {
    font-size: 1.3rem;
    margin-bottom: .5rem;
    line-height: 1
}

.invalid-feedback small {
    color: red
}

.alert-warning {
    background: #feddd7;
    padding: 13px;
    color: #991700;
    border: 1px solid #991700
}

ul {
    margin: 0!important;
    padding-left: 28px!important
}

ul li {
    margin: 0;
    list-style: disc
}

.section {
    border: 1px solid #d1d1d1;
    padding: 25px;
    margin-bottom: 30px
}

.highlight {
    background: #f2f5f7
}

.center {
    text-align: center
}

.hero {
    text-align: center;
    margin-bottom: 68px
}

.hero em {
    padding: 0 8%;
    font-size: 2rem;
    font-style: normal;
    color: #814a9c;
    text-align: center!important;
    display: block;
    margin-top: 14px!important
}

.acknowledge .left-column {
    padding-bottom: 50px;
    padding-top: 83px
}

.acknowledge .right-column img {
    width: 100%
}

.acknowledge {
    color: #0e1e40
}

.acknowledge-title {
    font-weight: 700;
    font-size: 3.3rem;
    text-transform: uppercase;
    line-height: 41px;
    font-family: "Montserrat Regular"!important;
}

.acknowledge .left-column p:nth-of-type(1) {
    margin-top: 16px;
    line-height: 1.3
}

.acknowledge p {
    line-height: 26px;
    font-size: 1.8rem
}

.container.acknowledge {
    margin-top: 168px;
    max-width: 700px
}

.acknowledge .right-column {
    text-align: center
}

.acknowledge img {
    width: 60%;
    text-align: center
}

@media (min-width: 550px) {
    .acknowledge img {
        width:100%;
        padding: 0
    }
}

@media (min-width: 810px) {
    .container.acknowledge {
        padding:0
    }
}

h2 {
    margin-top: 24px;
    color: #2a2a2a;
    text-align: center;
    font-size: 30px
}

.ta-results {
    overflow-y: auto!important;
    min-width: 300px!important;
    width: auto!important
}

h1 {
    text-align: center;
    font-weight: 700
}

h3 {
    color: #ef7125;
    text-align: center;
    font-weight: 700;
    font-size: 30px
}

h4 {
    color: #2a2a2a;
    font-size: 20px;
    margin-bottom: 0
}

h5 {
    color: #2a2a2a;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400
}

p,ul li {
    color: #3f3f3f;
    font-size: 18px
}

@font-face {
    font-family: "Montserrat Regular";
    src: url(Montserrat-VariableFont_wght.0862772643ff65b7a76e.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Montserrat Semi-Bold";
    src: url(Montserrat-SemiBold.cbdecee7a45d92a99842.ttf);
    font-weight: 400;
    font-style: normal
}

.container {
    padding: 0 4%
}

:root {
    --ch-primary-color: #ffa700
}

.container .buttons {
    text-align: left;
    padding-top: 1rem;
    pointer-events: initial
}

.container .buttons.disabled {
    pointer-events: none;
    opacity: .8
}

.container .buttons .ch-buttons {
    width: 200px;
    height: auto;
    padding: 1rem 2rem;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    color: #fff!important;
    opacity: 1;
    background: #ffa700;
    border: 1px solid #ffa700;
    border-radius: 5px;
    margin: 1rem 0;
    line-height: 1
}

.container.classhive-trial-form {
    font-family: "Montserrat Regular"!important;
    font-weight: 400;
    max-width: 1366px;
    padding: 0 40px
}

.container.classhive-trial-form h1,.container.classhive-trial-form h2,.container.classhive-trial-form h3,.container.classhive-trial-form h4,.container.classhive-trial-form h5,.container.classhive-trial-form h6 {
    font-family: "Montserrat Semi-Bold"!important;
    font-weight: 700!important;
    color: var(--ch-primary-color)
}

.container.classhive-trial-form h1.invert,.container.classhive-trial-form h2.invert,.container.classhive-trial-form h3.invert,.container.classhive-trial-form h4.invert,.container.classhive-trial-form h5.invert,.container.classhive-trial-form h6.invert {
    color: #fff
}

.container.classhive-trial-form h2 {
    font-size: 32px
}

.container.classhive-trial-form p {
    line-height: 30px;
    color: #000;
    font-size: 16px
}

.container.classhive-trial-form p.sub-header {
    font-size: 24px;
    text-align: center
}

.container.classhive-trial-form p.form-header {
    font-size: 30px;
    color: #000
}

.container.classhive-trial-form p.form-sub-header {
    font-size: 16px;
    color: #666;
    font-weight: 300
}

.container.classhive-trial-form small {
    font-family: "Montserrat Regular"!important;
    font-weight: 400!important;
    font-size: 11px;
    font-style: italic;
    text-transform: uppercase
}

.container.classhive-trial-form label {
    font-family: "Montserrat Regular"!important;
    font-size: 16px!important;
    color: #818181;
    font-weight: 500
}

.container.classhive-trial-form input,.container.classhive-trial-form select,.container.classhive-trial-form textarea {
    padding: 5px 20px!important;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0
}

.container.classhive-trial-form textarea {
    resize: none
}

.container.classhive-trial-form li {
    margin: 3px 0 0!important
}

.container.classhive-trial-form .columns.customise-info {
    background: #ffa700;
    border-radius: 10px;
    padding: 20px
}

.container.classhive-trial-form .input-container {
    height: 88px
}

.container.classhive-trial-form .white-spacer {
    margin-top: 80px
}

.container.classhive-trial-form .no-margin {
    margin: 0
}

.container.classhive-trial-form .no-margin-bottom,.container.classhive-trial-form .no-margin-top {
    margin-top: 0
}

.container.classhive-trial-form .image-container {
    padding: 0 2rem 2rem
}

/* style part 2 */

/* Encapsulated CSS styles */
.container {
    padding: 0 4%;
}

/* CLassHive */
:root {
    --ch-primary-color: #ffa700; /* Orange */
}

.container .buttons {
    text-align: left;
    padding-top: 1rem;
    pointer-events: initial;
}

.container .buttons.disabled {
    pointer-events: none;
    opacity: 0.8;
}

.container .buttons .ch-buttons {
    width: 200px;
    height: auto;
    padding: 1rem 2rem;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    color: #fff !important;
    opacity: 1;
    background: #ffa700;
    border: 1px solid #ffa700;
    border-radius: 5px;
    margin: 1rem 0;
    line-height: 1;
}

.container.classhive-trial-form {
    font-family: 'Montserrat Regular', sans-serif !important;
    font-weight: 400;
    max-width: 1366px;
    padding: 0 40px;
}

.container.classhive-trial-form h1,
.container.classhive-trial-form h2,
.container.classhive-trial-form h3,
.container.classhive-trial-form h4,
.container.classhive-trial-form h5,
.container.classhive-trial-form h6 {
    font-family: 'Montserrat Regular', sans-serif !important;
    font-weight: 700 !important; /* Semi-bold */
    color: var(--ch-primary-color);
}

.container.classhive-trial-form h1.invert,
.container.classhive-trial-form h2.invert,
.container.classhive-trial-form h3.invert,
.container.classhive-trial-form h4.invert,
.container.classhive-trial-form h5.invert,
.container.classhive-trial-form h6.invert {
    color: #FFFFFF;
}

.container.classhive-trial-form h2 {
    font-size: 32px;
}

.container.classhive-trial-form p {
    line-height: 30px;
    color: #000000;
    font-size: 16px;
}

.container.classhive-trial-form p.sub-header {
    font-size: 24px;
    text-align: center;
}

.container.classhive-trial-form p.form-header {
    font-size: 30px;
    color: #000000;
}

.container.classhive-trial-form p.form-sub-header {
    font-size: 16px;
    color: #666666;
    font-weight: 300;
}

.container.classhive-trial-form small {
    font-family: 'Montserrat Regular', sans-serif !important;
    font-weight: 400 !important;
    font-size: 11px;
    font-style: italic;
    text-transform: uppercase;
}

.container.classhive-trial-form label {
    font-family: 'Montserrat Regular', sans-serif !important;
    font-size: 16px !important;
    color: #818181;
    font-weight: 500;
}

.container.classhive-trial-form input,
.container.classhive-trial-form textarea,
.container.classhive-trial-form select {
    padding: 5px 20px !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.container.classhive-trial-form textarea {
    resize: none;
}

.container.classhive-trial-form li {
    margin: 3px 0 0 !important;
}

.container.classhive-trial-form .columns.customise-info {
    background: #ffa700;
    border-radius: 10px;
    padding: 20px;
}

.container.classhive-trial-form .input-container {
    height: 88px;
}

.container.classhive-trial-form .white-spacer {
    margin-top: 80px;
}

.container.classhive-trial-form .no-margin {
    margin: 0;
}

.container.classhive-trial-form .no-margin-top {
    margin-top: 0;
}

.container.classhive-trial-form .no-margin-bottom {
    margin-top: 0;
}

.container.classhive-trial-form .image-container {
    padding: 0 2rem 2rem;
}

.ch-buttons{
    width: 200px;
    height: auto;
    padding: 1rem 2rem;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    color: #fff!important;
    opacity: 1;
    background: #ffa700;
    border: 1px solid #ffa700;
    border-radius: 5px;
    margin: 1rem 0;
    line-height: 1;
    text-transform: none;
}